html {
  padding: 10px;
}

div {
  border: 0px solid;
}

input {
  margin: 0px 0px 0px 10px;
}

textarea {
  width: 100%;
  box-sizing: border-box;
}

.flow {
  display: flex;
  flex-flow: row nowrap;
}

.attribute_icon {
  max-width: 120px;
  margin: 0px 0px 10px 0px;
}

.ability_mod, .defense_stat {
  font-size: 200%;
}

.center {
  display: flex;
  justify-content: center;
}

.number_form {
  text-align: center;
}

.login-buttons-dropdown-align-right {
  float: right;
}

.save_wrapper, .skills_wrapper, #passive_wisdom_score_wrapper, #passive_wisdom_label_wrapper {
  margin-top: 5px;
  margin-bottom: 5px;
}

.defense_stat_text {
  margin: 0px 0px 0px 10px
}

.attribute_label {
  margin-top: 35px;
  margin-bottom: 5px;
}

#str_label {
  margin-top: 0px;
}

.skills_wrapper, #description_col_one_wrapper, #description_col_two_wrapper {
  margin-right: 5px;
}

#race, #class, #subclass {
  width: 100px;
}

#description_wrapper, #passive_wisdom_wrapper, #other_proficiencies_wrapper, #hit_dice_wrapper, #death_saves_wrapper, #defense_stats_row_three_wrapper, #defense_stats_row_seven_wrapper, #defense_stats_row_eight_wrapper {
  margin-top: 10px;
}

#stats_col_one_wrapper, #hit_dice_wrapper {
  margin-right: 10px;
}

#inspiration_wrapper, #proficiency_wrapper, #saving_throws_wrapper {
  margin-bottom: 10px;
}

.equipped_weapon_name, .equipped_weapon_mod, .equipped_weapon_damage, #proficiency_label_wrapper, #inspiration_label_wrapper, #passive_wisdom_label_wrapper, #subclass {
  margin-left: 5px;
}

#skills_wrapper, #saving_throws_wrapper, #passive_wisdom_wrapper, #other_proficiencies_wrapper, #defense_stats_row_two_wrapper, #hit_dice_wrapper, #death_saves_wrapper {
  border: 1px solid;
}
